# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
ENV/
env/

# SQLite DB
*.db

# VSCode
.vscode/

# Logs
*.log

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Docker
*.pid
